.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  max-width: 1280px;
  width: 100%;
  padding: 0 70px;
  margin: 110px auto;
}

.article__title {
  color: #FFF;
  font-family: 'Inter';
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 1280px;
  width: 100%;
  text-align: start;
  border-bottom: 1px solid #DADADA;
  letter-spacing: -0.88px;
  padding: 0 0 23px;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 480px) {

  .article {
    padding: 0 18px;
    margin: 70px auto;
  }

  .article__title {
    font-size: 18px;
    letter-spacing: -0.72px;
    padding: 0 0 28px;
  }
}

@media screen and (min-width: 481px) and (max-width: 770px) {
  .article {
    padding: 0 50px;
    margin: 90px auto;
  }

}